{% extends 'base.html.twig' %}

{% block title %}Rayon {{ categorie.libelle }}{% endblock %}

{% block body %}

    <div class="example-wrapper">

        This friendly message is coming from:
        <ul>
            <li>{{ categorie.libelle }}</li>
            {% for produit in produits %}
                <li>{{ produit.libelle }}</li>
            {% else %}
                <li>Aucun produit dans cette catégorie.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
